.work__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
}

.work__item:hover {
    color: var(--first-color);
    transition: 2s;
}

.work__container {
    grid-template-columns: repeat(3, 2fr);
    gap: 2rem;
}

.app__img {
    width: 25rem;
    height: 15rem;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.work__mask {
    background: #6ce5df;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.work__card:hover .work__mask {
    position: absolute;
    opacity: 0.1;
}

.work__category {
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.2rem 0.6rem;
    transform: translateY(-42px);
}

.work__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0 1rem;
    padding: 0 1rem;
    position: absolute;
    top: 3.5rem;
    transform: translateY(30px);
    opacity: 0;
}

.work__button {
    color: #fff;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #000000;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__category {
    opacity: 1;
    transform: translateY(0);
}