.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__info {
    grid-template-rows: repeat(3, 1fr);
}

.about__data::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid var(--container-color);
    position: absolute;
    left: -0.90rem;
    top: 2rem;
}

.about__skills {
    grid-template-columns: repeat(1, 1fr);
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__number {
    line-height: 1.2;
}

.skills__bar,
.skills_percentage {
    height: 7px;
    border-radius: 0.25rem;
    margin-bottom: 3px;
}

.skills__bar {
    background-color: #f1f1f1;
}

.skills_percentage {
    display: block;
}

.react {
    width: 90%;
    background-color: rgb(144, 255, 92);
}

.javascript {
    width: 90%;
    background-color: rgb(144, 255, 92);
}

.databases {
    width: 75%;
    background-color: rgb(198, 255, 92);
}

.apis {
    width: 90%;
    background-color: rgb(144, 255, 92);
}

.typescript {
    width: 75%;
    background-color: rgb(198, 255, 92);
}

.docker {
    width: 60%;
    background-color: rgb(255, 198, 92);
}

.nodejs {
    width: 75%;
    background-color: rgb(198, 255, 92);
}

.mongodb {
    width: 80%;
    background-color: rgb(171, 255, 92);
}

.about__boxes {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    margin-top: 4rem;
}

.about__box {
    display: flex;
    column-gap: 1.5rem;
}

.about__icon {
    font-size: var(--h1-font-size);
    color: rgba(199, 192, 192, 90%);
}

.about__title {
    font-size: 1.5rem;
}

.warning {
    color: red;
}




.about__img {

    max-width: 20rem;
    max-height: 20rem;
    border-radius: var(--border-radius);

}

.about__description {
    margin-bottom: 1.5rem;
}

.modal-content {
    margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 1fr;
    }

    .about__data {
        padding: 1.5rem;
    }

    .about__boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__img {
        max-width: 100%;
        max-height: 100%;
    }
    
}